@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';


nav li{
  display: inline;
  text-align:center;
  color:#fff;
  margin-right: 80px;  
  margin-left: 80px;  

}

li a:hover {
  color: #A3A3A3;
}
