@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

body {
  background-image: linear-gradient(to right top, #a05af5, #a769f3, #ae78f1, #b586ee, #bb94eb);
}

.containerLogin {
  border-radius: 30px;
}

input {
  margin-top: 1rem;
  padding: 0.5rem;
  border: solid 1px #9357ebc2;
  border-radius: 1rem;
}

.bgCard {
  background-image: linear-gradient(to right top, #8654e1, #8d56e7, #9457ec, #9c59f2, #a35af7);
}